*{
  box-sizing:border-box;
  padding: 0;
  margin: 0;
  font-family: "poppins", sans-serif;
}
.click:hover { 
  transform: scale(1.15);
  font-weight: bold;

}
.click:active{
  transform: scale(0.95);
}

/*
NAV
*/

nav {
height:80px;
display: flex;
align-items: center;
justify-content: space-between;
padding: 10px 24px;
border-bottom: 1px solid rgba(181, 177, 177, 0.61);

}

.logo__container {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 300ms ease;
}
.logo__container:hover {
  color: blue;
  cursor: default;
}
.logo__img{
 width:100%;
}
.logo__img--wrapper{
 max-width:50px;
 filter: grayscale(1)invert(1);
 }
 .skeleton__Loading--container {
  display:flex;
  align-items:center;
 }
 .nav__button {
   padding: 6px 8px;
  background-color: rgba(175, 175, 175, 0.592);
  border: none;
  transition: all 300ms ease;
  border-radius: 4px;
 }

 .nav__button--login:hover {
color: white;
background-color: black;
 }
 .nav__button:not(:last-child) {
 margin-right: 16px;
 }

 .nav__button--register {
  background-color: blueviolet;
  color: white;
 }
.nav__button--User {
  border-radius: 30px;
  padding: 8px 16px;
  font-size:24px;
  
  color: white;
  background-color: blueviolet;
}
.skeleton__loading--button,
.skeleton__loading--button-circle {
  background-color: rgba(175, 175, 175, 0.592);
}

.skeleton__loading--button {
  width:100px;
  height:40px;
  border-radius: 4px;
  margin-right: 10px;
}



.skeleton__loading--button-circle {
  width:40px;
  height:40px;
  border-radius: 30px;
 
}


 /*
 EVERYTHING UNTIL TABLET

 */


 @media (max-width:480px) {
  .logo__text {
    font-size: 16px;
  }
  .logo__img--wrapper{
    max-width: 30px;
  }

  .nav__button {
    padding: 5px;
  }
 }
